body{
	background-color: #FFF
}
h1, h2{
	text-align: center;
	font-family: comic sans ms;
}

#menubar {
	background: linear-gradient(#000B66,#040033);
}

#menubar a {
	color:#FFF;
}

#menubar li ul a {
	color:#666;
}